.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 16.75rem 1fr;
  grid-template-rows: 8.7rem 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
}
.sidebar {
  grid-area: sidebar;
  box-sizing: border-box;
  position: absolute;
  width: 16.75rem;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border-right: 1px solid #e8e8e8;
}
.nav {
  grid-area: header;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}
.main {
  grid-area: main;
  
}

